/old/**
/keys/**
/demo/code/**
/demo videos/
/compression/scraping/test.html
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/DreamWave.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
