<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Result</title>
    <link href="../static/linkslist.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/loader.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body onload="hideLoader()">

    <!--LOADER-->
    <div class="loader" id="loader">
        <div class="loader-inner">
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
          <div class="loader-line-wrap">
            <div class="loader-line"></div>
          </div>
        </div>
      </div>

    <div id="overlay-button"><button onclick="redirectToSearch()" class="button-style" role="button">Back to Search</button></div>

    <div id="slider-container">
        <!--<input type="range" min="-100" max="0" value="0" class="range blue" id="slider"/>
        <p class="num" id="start">0</p>
        <p class="num" id="one">1</p>
        <p class="num" id="mid">2</p>
        <p class="num" id="three">3</p>
        <p class="num" id="end">4</p>-->
    </div>




    <main>
        <div id='maincontent'>
            <ul>

            </ul>
        </div>
    </main>


<script src='../static/redirect.js'></script>
</body>
</html>