<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/templatestyle.css" rel="stylesheet">
</head>
<body>
    <div id="overlay-button"><button onclick="redirectToSearch()" class="button-style" role="button">Back to Search</button></div>

   <input type="range" min="-100" max="0" value="0" class="range blue" id="slider"/>
    <main>
        <div id="maincontent">

        </div>
    </main>


<script src='../static/redirect.js'></script>
</body>
</html>