.input-container {
    width: 600px;
    position: relative;
    margin: 50px auto;
  }

  #search-input {
    width: 100%;
    padding: 8px;
    font-size: 20px;
    border: 4px solid #fa4121;
    border-radius: 25px;
    resize: none;
    transition: height 0.4s ease-in-out;
    min-height: 50px;
    color:white;
    outline: none;
  }

  #search-input:focus {
    outline: none;
    transition: all 0.3s ease-in-out;
    border-color: #FBB321;
  }

  #search-input:not(:focus) {
    transition: all 0.3s ease-in-out;
  }

  #search-input::placeholder {
    color: lightgray;
  }

  #search-input {
    overflow-y: hidden;
  }

  #search-input {
    height: 60px;
    max-height: 300px;
  }

  #search-button {
    margin: 1% 43%;
  }
  /*
textarea {
  width:200px;
  resize:none;
  overflow:hidden;
  font-size:18px;
  height:1.1em;
  padding:2px;
}

   */