* {
    font-family: 'Montserrat', sans-serif;
  }

  .logo {
    max-width: 33em;
    margin-left:auto;
    margin-right:auto;
    border-radius: 200px;
    margin-bottom: 1%;
    display: flex;
  }

  #title {
    color:#FBB321;
    padding-bottom: 1%;
    display: flex;
  }

  #ask {
    padding-bottom: 2%;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  /* Custom default button */
  .btn-light,
  .btn-light:hover,
  .btn-light:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
  }

  /*
   * Base structure
   */

  body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    background-color: #10121E;
  }

/*
Limits the spread of everything, might be needed later
  .cover-container {
    max-width: 102em;
  }
*/

  /*
   * Menu Navigation styles
   */

  .nav-masthead .nav-link {
    color: rgba(255, 255, 255, .5);
    border-bottom: .25rem solid transparent;
  }

  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
  }

  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }

  .nav-masthead .active {
    color: #FBB321;
    border-bottom-color: #FBB321;
  }

  #pref-website {
    padding: 0% 40%;
  }

  #search-type {
    color: white;
    margin: 0 auto;
  }

